<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>乐玩 - 选择头像</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<style type="text/css">
		body{
			background: #000 url(../static/img/bg.jpg) no-repeat;
			background-size:contain;
			color: #fff;
		}
	</style>
</head>
<body>
	<div id="choose-avatar">
		<div class="title rotate" id="title">
			<p>乐玩</p>
			<p class="description">一起玩音乐</p>
		</div>
		
		<p>上传头像：</p>
		<iframe name="ajaxUpload" style="display:none"></iframe> <!-- 无刷新 -->
		<form id="avatar-upload-form" action="" method="post" enctype="multipart/form-data" target="ajaxUpload">
			<input id="btn-fake" type="button" value="选择文件" />
			<input id="file" type="file" name="file" accept="image/jpg, image/jpeg, image/gif, image/png, image/bmp"/>
			<span id="upload-result">仅支持jpg、jpeg、gif、png、bmp图片</span>
			<input id="btn-upload" type="submit" value="上传" />
		</form>
		
		<p>或选择头像：</p>
		<div class="wrap">
			<div class="avatar" id="avatar">
				<img id="avatar0" src="../static/img/user_pic/0.png" alt="眼镜鹿"/>
				<img id="avatar1" src="../static/img/user_pic/1.png" alt="摇滚鹿"/>
				<img id="avatar2" src="../static/img/user_pic/2.png" alt="圣诞鹿"/>
				<img id="avatar3" src="../static/img/user_pic/3.png" alt="耳机鹿"/>
				<img id="avatar4" src="../static/img/user_pic/4.png" alt="美美鹿"/>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>