<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>乐玩 - 猜歌</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/leaves.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>
<body class="branch-pic">
	<!-- 记录用户名字 -->
	<div id="this-user">
		<span id="this-username">{{user_name}}</span>
		<span id="this-userpic">{{user_pic}}</span>
	</div>
	<!-- 导航 -->
	<nav>
		<img id="cloud" src="../static/img/cloud.png" alt="cloud-decoration"/>
		
		<a id="home-link" href="/home"></a>
	
		<div id="nav-listen">
			<a href="/listen">
				<img src="../static/img/nav_listen.png" alt="listen"/>
				<div id="listen-tip" class="nav-tip">
					<div class="nav-tip-hidden">
						<span></span>
					</div> 
				</div>
				<span id="txt-listen">听听歌</span>
			</a>
		</div>
		
		<div id="nav-guess">
			<a href="/guess"><img src="../static/img/nav_guess.png" alt="guess"/>
				<div id="guess-tip" class="nav-tip rotate180">
					<div class="nav-tip-hidden">
						<span></span>
					</div>
				</div>
				<span id="txt-guess">猜猜歌</span>
			</a>
		</div>
		
		<div id="nav-top">
			<a href="/top"><img src="../static/img/nav_top.png" alt="top"/>
				<div id="top-tip" class="nav-tip">
					<div class="nav-tip-hidden">
						<span></span>
					</div>
				</div>
				<span id="txt-top">排行榜</span>
			</a>
		</div>
	</nav>
	
	<!-- 主要区域 -->
	<div id="main-wrap">
		<!-- 播放器 隐藏 -->
		<audio id="songs" autoplay="autoplay" loop="loop">
			<source src="{{path}}" type="audio/mp3" />
			<embed src="{{path}}" />
			Your browser does not support the audio element. 
		</audio>
		
		<!-- 答题结果 -->
		<div id="answer-result">
			<div id="answer-result-tip" class="nav-tip">
				<div class="nav-tip-hidden">
					<span></span>
				</div>
			</div>
			<span id="txt-answer-result">回答正确</span>
			<div class="answer-hidden"></div>
		</div>
		
		<!-- 霓虹灯 -->
		<div id="light">
			<div class="top">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<div class="right">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<div class="bottom">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
			<div class="left">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			
		</div>
			
		<!-- 答题区 - 音量 - 切歌 -->
		<div id="music-area">
			<div>
				<form>
					<label>歌名为：</label>
					<input id="answer" type="text" />
					<input id="btn-answer" class="basic-btn" type="submit" value="猜一个" />
				</form>
			</div>
			
			<div>
				<label><img id="volume-pic" src="../static/img/volumeOn.png" alt="volume on"/></label>
				<input id="volume" type="range" name="points" min="0" max="10" step="0.2" value="10"/>
				<input id="btn-switch-song" class="basic-btn" type="button" value="换一首"/>
			</div>
		</div>
		
		<!-- 评论提示 -->
		<div id="comment-result">
			<div id="comment-result-tip" class="nav-tip">
				<div class="nav-tip-hidden">
					<span></span>
				</div>
			</div>
			<span id="txt-comment-result">请填写评论</span>
			<div class="comment-hidden"></div>
		</div>
		
		<!-- 评论 -->
		<div id="comment-area">
			<form class="clearfix">
				<textarea id="new-comment"></textarea>
				<input id="btn-comment" type="submit" value="说一声" />
			</form>
			
			<!-- 评论列表头 -->
			<p id="nav-comment">
				<span>大家说</span>
				<span class="wrap">
					<a id="previous-page" href="javascript:;">上一页</a>
					<a id="next-page" href="javascript:;">下一页</a>
				</span>
			</p>
			
			<!-- 评论列表 -->
			<ul id="comment-list">
				<!-- 	
				<li class="clearfix">
					<img id="avatar" src=""/>
					<div class="comment-txt-area">
						<p>
							<span id="username" class="username">{{user_name}}</span>
							<span id="time" class="time">{{time}}</span>
						</p>
						<p id="comment" class="comment">{{comment}}</p>
					</div>
				</li>
				-->
			</ul>
		</div>
	
	</div> <!-- end content-wrap -->
	
	<img id="exit" src="../static/img/exit.png" alt="exit"/>
	
	
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/leaves.js"></script>
</body>
</html>