<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>乐玩 - 我的主页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/leaves.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	 
</head>
<body class="branch-pic">
	<!-- 记录用户名字 -->
	<div id="this-user">
		<span id="this-username">{{user_name}}</span>
		<span id="this-userpic">{{user_pic}}</span>
	</div>
	<!-- 导航 -->
	<nav>
		<img id="cloud" src="../static/img/cloud.png" alt="cloud-decoration"/>
		
		<a id="home-link" href="/home"></a>
	
		<div id="nav-listen">
			<a href="/listen">
				<img src="../static/img/nav_listen.png" alt="listen"/>
				<div id="listen-tip" class="nav-tip">
					<div class="nav-tip-hidden">
						<span></span>
					</div> 
				</div>
				<span id="txt-listen">听听歌</span>
			</a>
		</div>
		
		<div id="nav-guess">
			<a href="/guess"><img src="../static/img/nav_guess.png" alt="guess"/>
				<div id="guess-tip" class="nav-tip rotate180">
					<div class="nav-tip-hidden">
						<span></span>
					</div>
				</div>
				<span id="txt-guess">猜猜歌</span>
			</a>
		</div>
		
		<div id="nav-top">
			<a href="/top"><img src="../static/img/nav_top.png" alt="top"/>
				<div id="top-tip" class="nav-tip">
					<div class="nav-tip-hidden">
						<span></span>
					</div>
				</div>
				<span id="txt-top">排行榜</span>
			</a>
		</div>
	</nav>
	
	<!-- 收藏 -->
	<div id="collect" class="w200 h440 pt100 list-pic fr mt60 mr250">
		<ul class="w130 mauto c9D5C06">
			{% for i in range(0,sum_songs) %}
			<li class="w130 h30 pb15 txtflow" title="{{mysongs[i][0]}}-{{mysongs[i][3]}}">
				<span>{{mysongs[i][0]}}-{{mysongs[i][3]}}</span>
				<!-- <span>{{mysongs[i][1]}}</span> -->
			</li>
			{%endfor%}
		</ul>
	</div>
	
	<!-- 主页信息 -->
	<div id="home-main-wrap" class="pt30">
		<img class="w400 h80 dis-block mauto" src="../static/img/homepage.png" />
		<div class="w400 mauto txt-center pt20 cfff fs20">
			<img class="w200 h200 bradius-p50" src="{{user_pic}}" alt="{user_name}}"/>
			<p class="name-pic h30 mt30">{{user_name}}</p>
			<p class="leaves-pic h30 mt10">{{leaves}}</p>
		</div>
	</div>
	
	<img id="exit" src="../static/img/exit.png" alt="exit"/>
	
	
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/leaves.js"></script>
</body>
</html>