<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>乐玩 - 一起玩音乐</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<style type="text/css">
		body{
			background: #000 url(../static/img/bg.jpg) no-repeat;
			background-size:contain;
			color: #fff;
		}
	</style>
</head>
<body>
	<div id="login-register">
		<div id="login">
			<div class="title rotate">
				<p>乐玩</p>
				<p class="description">一起玩音乐</p>
			</div>
			
			<form>
				<span id="login-error"></span>
				<div class="input-item">
					<input class="basic-input" type="text" name="username" id="login-username" placeholder="用户名"/>
					<span id="login-username-error">请输入正确的用户名</span>
				</div>
				<div class="input-item">
					<input class="basic-input" type="password" name="password" id="login-password" placeholder="密码"/>
					<span id="login-password-error">请输入正确的密码</span>
				</div>
				<div class="input-item">
					<input class="basic-btn" id="login-btn" type="submit" value="登录"/>
				</div>
			</form>
			
			<div class="link">还没账号？ <a href="/register">立即注册 →</a></div>
		</div>
	</div>
	
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>