<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>欢迎加入乐玩</title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png" />
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<style type="text/css">
		body{
			background: #000 url(../static/img/bg.jpg) no-repeat;
			background-size:contain;
			color: #fff;
		}
	</style>
</head>
<body>
	<div id="login-register">
		<div id="register">
			<div class="title rotate">
				<p>乐玩</p>
				<p class="description">一起玩音乐</p>
			</div>
			
			<form>
				<span id="register-error"></span>
				<div class="input-item">
					<input class="basic-input" type="text" name="username" id="register-username" placeholder="用户名"/>
					<span id="register-username-error"></span>
				</div>
				<div class="input-item">
					<input class="basic-input" type="password" name="password1" id="register-password1" placeholder="密码"/>
					<span id="register-password-error1">请输入密码</span>
				</div>
				<div class="input-item">
					<input class="basic-input" type="password" name="password2" id="register-password2" placeholder="重复密码"/>
					<span id="register-password-error2"></span>
				</div>
				<div class="input-item">
					<input class="basic-btn" id="register-btn" type="submit" value="注册"/>
				</div>
			</form>
			
			<div class="link">已有账号？ <a href="/">立即登录 →</a></div>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>